*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'gilroy'; */
    font-family: 'gilroy', Courier, monospace;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(160, 157, 157);
}
.navbar{
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #fff;
}
.navbar ul{
    display: flex;
    gap: 20px;
    padding: 2px 40px;
}
.navbar ul a{
     text-decoration: none;
     color: black;
     font-size: 15px;
}
.container{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.card{
    height: 300px;
    width: 500px;
    padding: 50px;
    background-color: rgba(222, 236, 192, 0.558);
    border-radius: 10px;
}
.card h1{
    color: rgba(32, 32, 241, 0.899);
    margin: 0 0 20px 0;
}
.card p{
    margin-bottom: 30px;
    font-size: 18px;
}
form input{
    border: 2px solid ;
    padding: 5px 40px;
    margin: 5px;
    border-radius: 10px;
}
