*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}
.box{
    height: 300px;
    width: 300px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    margin: 15px;
}
.btn{
    padding: 15px 35px;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}
