*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: white;

    display: grid;
    grid-template-rows: 70px 1fr 0.5fr 1fr ;
    gap: 20px;
}
header{
    background-color: #88db58;
}
.hero{
 background-color: #222e5d;   
}
.progress{
    background-color: #d220cc;
}
.about{
    background-color: mediumseagreen;
}