/* body {
  font-family: sans-serif;
  background: #f0f0f0;
  text-align: center;
  padding: 40px;
}
.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}
button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
#peerList button {
  background: #007bff;
  color: white;
}
#toggleBtn {
  background: #f44336;
  color: white;
}
#connectedDevices p {
  color: green;
  font-weight: bold;
} */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #fcfafa9c;
}
.nav {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-left: 15px;
  background-color: #f0eded9c;
  border-radius: 0 0 6px 6px;
}
.links a {
  text-decoration: none;
  margin: 15px;
  color: black;
  font-size: 20px;
}
.main {
  height: calc(100vh - 48px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main h1 {
  position: absolute;
  top: 120px;
  font-size: 80px;
}
.button-group button {
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  margin: 20px;
  font-size: 20px;
}
.button-group button:nth-child(1) {
  background-color: rgb(126, 98, 252);
  color: white;
}
.button-group button:nth-child(2) {
  background-color: rgb(10, 147, 24);
  color: white;
}